*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    border: solid black 2px;
    padding: 2rem;
    width: 600px;
    border-radius: 16px;
    box-shadow: 0.4rem 0.4rem 0 0;

    background-color: rgb(184, 183, 183);
    position: absolute;
    transform: translateX(40%);
    margin-top: 3rem;
}

li{
    margin: 1rem;
    border: solid 1px;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 0.4rem 0.3rem;
    width: 512px; 
    background-color: rgb(216, 206, 206);
    list-style: none;
}

li:hover{
    transform:translateY(1px) ;
    box-shadow: 0.2rem 0.15rem 0 0;
}
button{
    display: flex;
    justify-content: center;
    margin: 2rem;
    border-radius: 1rem;
    padding: 10px 30px 10px 30px;
    box-shadow: 0.4rem 0.3rem 0 0;
    position: absolute;
    left:1rem;
    background-color:  rgb(216, 206, 206);
}

button:hover{
    transform:translateY(1px) ;
    box-shadow: 0.2rem 0.15rem 0 0;
}



header{
    background-color: rgb(184, 183, 183);
    border-bottom: solid black 2px;
    box-shadow: 0.2rem 0 0 0.1rem;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    

}